html {
  scroll-behavior: smooth;
}
body{
  /*background: #bebebe;
  color: #fff;*/
}
/*============================ home page style =======================*/
.home_container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0px;

}

#cpBtn{
  padding: 2px 5px;
}
#cpBtn > div{
  width: 20px;
  height: 4px;
  background: #aa0252;
  margin: 3px 0px;
  border-radius: 4px;
}

.link{
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.container_header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.container_header #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

.container_header #navbarSupportedContent a{
  color: #ff0000;
}

.container_header #navbarSupportedContent a:hover {
 /* background-color: transparent;*/
  color: #ff0000;
}

.container_header a.active {
  background-color: dodgerblue;
  color: white;
}
.container_header .my_navbar{
  /*border-bottom: 1px solid #e3e3e3;*/
}

.container_header {
    padding: 20px 10px !important;
  }
.container_header a {
    float: none;
    display: block;
    text-align: left;
  }
  .container_header #logo{
    font-size: 20px;
  }
  .my_navbar ul li a{
    font-size: 15px;
  }

.container_home_content .card_form{
  /* background: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 30px; */

}
.container_home_content .card_form{
  background: rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin: 150px 0px;
  z-index: 99;
}

.container_home_content form .go_button{
  background: #3399ff;
  font-size: 20px;
}
.container_home_content form select{
	border-radius: 0px;
  /*height: 30px;
  width:  100%;
  border: 1px solid #3399ff;
  padding-bottom: 5px;*/
}

.second_section {
  padding: 100px 0px;
  position: relative;
}
.second_section .left{
  padding: 250px 0px;
  background: #ff0000;
  color: #fff;
  position: static;
}
.second_section .center{
  padding-bottom: 500px;
  background: #333;
  position: relative;
  top: 10px;
}
.second_section .search_form_center{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0px;
  background: #ff0000;
}
.second_section .right{
  padding: 250px 0px;
  background: #ff0000;
  color: #fff;
  position: static;
}

@media only screen and (max-width: 600px) {
	.my_navbar{
		background-color:#fff;
	}
}

/* small devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
	.my_navbar{
		background-color:#fff;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.my_navbar{
		background-color:#fff;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.my_navbar{
		background-color:transparent;
	}
}
/*=========================================== main content section ==========================================================*/
.main_left, .main_right{
 /* background: #3399ff;*/
  height: 7000px;
  width: 20%;
  float: left;
  position: relative;
}
.main_center{
  width: 60%;
  float: left;
  z-index: -1;
  padding-top: 100px;
}
.jumbotron{
	padding: 10px 5px;
	font-size: 14px;
	display: none;
}
.main_center .card_form form select{
	border-radius: 0px;
  height: 30px;
  width:  100%;
  /*border: 1px solid #3399ff;*/
  padding-bottom: 5px;
	}
.section_header{
  text-align: center;
  font-size: 25px;
}
.line{
  background: #000;
  height: 2px;
  width: 100px;
  display: inline-block;
  margin-bottom: 60px;
}
.left_sticky, .right_sticky{
  color: #000;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  padding-top: 130px;
  top: 20px;
  height: 300px;
  width: 200px;
  position: sticky;
  -webkit-position:sticky;
  display: flex;
}
.center_one, .center_two, .center_three{
  padding: 80px 0;
  clear:both;
  height: 300px;
}
.left_sticky ul, .right_sticky ul{
  list-style: none;
  /*background: #3399ff;*/
  padding: 25px;
}
.left_sticky ul li, .right_sticky ul li{
  margin: 5px 0;
  border-bottom: 1px solid #fff;
}
.left_sticky ul li a, .right_sticky ul li a{
  text-decoration: none;
  color: #fff;
}
.topic_one, .topic_two, .topic_three{
  /* width: 30%;
  float: left;
  margin: 0 15px; */
}
.card_part .caption_card{
  padding-bottom: 20px;
}
footer{
   clear: both;
   padding: 20px 0;
   background: #000;
   text-align:center;
   color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.main_left, .main_right{
	  display: none;
	}
	.main_center{
	  width: 100%;
	  /*float: left;*/
	  z-index: -1;
	  text-align: center;
	}

	.home_container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top:10px;
    
	}
.main_center .card_form{
	padding-top: 20px;
	}

.main_center .card_form form select{
	border-radius: 0px;
	}
	.container_home_content .card_form{
  background: rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin: 100px 0px;
  z-index: 99;
	}

	.container_home_content .card_form form button{
		width: 100%;
		height: 50px
	}
	.jumbotron{
	padding: 10px 5px;
	font-size: 14px;
	display: block;
	}
  .container_header {
  overflow: hidden;
  /*background: transparent;*/
  background: #bebebe;
  padding: 10px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  height: 68px;
  top: 0;
  z-index: 99;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.main_left, .main_right{
	  display: none;
	}
	.main_center{
	  width: 100%;
	  /*float: left;*/
	  z-index: -1;
	  text-align: center;
	}

	.home_container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top:10px;
    height: 100vh;
	}
.main_center .card_form{
	padding-top: 20px;
	}

.main_center .card_form form select{
	border-radius: 0px;
	}
	.container_home_content .card_form{
  background: rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin: 100px 0px;
  z-index: 99;
	}

	.container_home_content .card_form form button{
		width: 100%;
		height: 50px
	}
	.jumbotron{
	padding: 10px 5px;
	font-size: 14px;
	display: block;
	}
  .container_header {
  overflow: hidden;
  background: transparent;
  padding: 10px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.main_left, .main_right{
	  display: none;
	}
	.jumbotron{
	padding: 10px 5px;
	font-size: 14px;
	display: block;
	}
	.main_center{
	  width: 100%;
	  /*float: left;*/
	  z-index: -1;
	  text-align: center;
	}
	.container_home_content{
	  /*background: rgba(0, 0, 0, 0.4);*/
	  padding-top: 100px;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-bottom: 0px;
	  margin: 100px 0px;
	  z-index: 99;
	}
  .container_header {
  overflow: hidden;
  background: transparent;
  padding: 10px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.main_left, .main_right{
	  display: block;
	}
	.main_left, .main_right{
	  /*background: #3399ff;*/
	  height: 2100px;
	  width: 20%;
	  float: left;
	  position: relative;
	}
	.jumbotron{
	padding: 10px 5px;
	font-size: 14px;
	display: none;
	}
	.main_center{
	  width: 60%;
	  /*float: left;*/
	  z-index: -1;
	  text-align: center;
	}
	.container_home_content{
	  /*background: rgba(0, 0, 0, 0.4);*/
	  padding-top: 100px;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-bottom: 0px;
	  margin: 100px 0px;
	  z-index: 99;
	}
  .container_header {
  overflow: hidden;
  background: transparent;
  padding: 10px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container_header {
  overflow: hidden;
  background: transparent;
  padding: 10px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  }
} 

/*============================================= login page =====================================================*/
.login_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.form_container{
	background: rgba(0, 0, 0, 0.4);
	margin-top: 40%;
	padding: 50px 30px;
}
	
.login_container .login_content {
  background: rgba(0, 0, 0, 0.4);
  /*background: rgba(0, 0, 0, 0.7);*/
  color: #000;
  margin-top: 100px;
  margin-bottom: 107px;
  padding: 10px 3px;
}

.center_column_login {
  padding: 0px 40px;
}

.login_container .login_content .login_page {
  color: #fff;
  padding: 30px 30px;
}

.remember_me_and_forget_pass {
  margin-top: 30px;
  font-size: 10px;
}

.remember_me_and_forget_pass .forget_pass {
  /* float: right; */
}

.forget_pass p a {
  color: #3399ff;
  text-decoration: none;
}

.login_container .form_container form input[type='text'] {
  border-radius: 0px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  font-family: monospace;
}
.login_container .form_container form input[type='text']:focus{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #3399ff;
}

.login_container .form_container form input[type='password'] {
  border-radius: 0px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  font-family: monospace;
}
	
.horizontal_rule {
  padding-top: 30px;
}


.login_page h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 2px;
}

.button_login {
  background: #f67600;
  color: #333333;
  font-weight: bold;
}
.forget_password_and_sign_up{
	text-align:center;
}
.forget_password_and_sign_up a{
	color:#fff;
}

.login_container .form_container ._sign_up{
	color:#fff;
	text-align: center;
	white-space: nowrap;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .login_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	padding-bottom:20px;
  }
  .login_container .login_content {
    background: rgba(0, 0, 0, 0.4);
    /*background: rgba(0, 0, 0, 0.7);*/
    color: #000;
    /* margin-top: 100px; */
    margin-bottom: 107px;
    padding: 10px 3px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .login_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:20px;
  }
  .login_container .login_content {
    background: rgba(0, 0, 0, 0.4);
    /* background: rgba(0, 0, 0, 0.7); */
    color: #000;
    /* margin-top: 100px; */
    margin-bottom: 107px;
    padding: 10px 3px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .login_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:20px;
  }
  .login_container .login_content {
    background: rgba(0, 0, 0, 0.4);
    /* background: rgba(0, 0, 0, 0.7); */
    color: #fff;
    margin-bottom: 107px;
    padding: 10px 3px;
  }
  .center_column_login {
    padding: 0px 0px;
  }

  .login_container .login_content .login_page {
    color: #fff;
    padding: 30px 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .login_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:20px;
  }
  .login_container .login_content {
    background: rgba(0, 0, 0, 0.4);
    /*background: rgba(0, 0, 0, 0.7);*/
    color: #000;
    margin-bottom: 107px;
    padding: 10px 3px;
  }
  .login_container .login_content .login_page {
	  color: #fff;
	  padding: 30px 30px;
	}
}

/*Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
  .login_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:100px;
  }
  .login_container .login_content {
    background: rgba(0, 0, 0, 0.4);
    /*background: rgba(0, 0, 0, 0.7);*/
    color: #000;
    margin-bottom: 107px;
    padding: 10px 3px;
  }
  .login_container .login_content .login_page {
	  color: #fff;
	  padding: 30px 30px;
	}
}

/*================================ (Registration form style)================================*/
.register_container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom:30px;
}
.register_page h1{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 2px;
  color: #fff;
}
.register_container .center_column_register .register_content{
  /* background: rgba(0, 0, 0, 0.7); */
  background: rgba(227, 227, 227, 0.4);
  color: #fff;
  margin-top: 100px;
  margin-bottom: 180px;
  padding: 10px 200px;
}

.register_container .center_column_register .register_content .register_page form input[type='text'] {
 border-radius: 0px;
 height: 30px;
 width: 100%;
 font-size: 12px;
 font-weight: bold;
 font-family: monospace;
 border-radius: 5px;
}
.register_container .center_column_register .register_content .register_page form input[type='password'] {
 border-radius: 0px;
 height: 30px;
 width: 100%;
 font-size: 12px;
 font-weight: bold;
 font-family: monospace;
}
.register_container .center_column_register .register_content .register_page form input[type='email'] {
 border-radius: 0px;
 height: 30px;
 width: 100%;
 font-size: 12px;
 font-weight: bold;
 font-family: monospace;
}
/* Mark input boxes that gets an error on validation: */
.register_container .center_column_register .register_content .register_page input.invalid {
 background-color: #ffdddd;
}

.register_container .center_column_register .register_content .register_page .tab h2 {
  margin: 10px auto;
  font-size: 14px;
}

/* Hide all steps by default: */
.register_container .tab {
 display: none;
}

/* Make circles that indicate the steps of the form: */
.register_container .center_column_register .register_content .register_page .step {
 height: 15px;
 width: 15px;
 margin: 0 2px;
 background-color: #bbbbbb;
 border: none;
 border-radius: 50%;
 display: inline-block;
 opacity: 0.5;
}

/* Mark the active step: */
.register_container .center_column_register .register_content .register_page .step.active {
 opacity: 1;
}

/* Mark the steps that are finished and valid: */
.register_container .center_column_register .register_content .register_page .step.finish {
 background-color: #4CAF50;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .register_container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:20px;
  }
  .register_container .center_column_register .register_content{
    /* background: rgba(0, 0, 0, 0.7); */
    background: rgba(227, 227, 227, 0.4);
    color: #fff;
    margin-top: 80px;
    margin-bottom: 90px;
    padding: 10px 10px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .register_container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .register_container .center_column_register .register_content{
    /* background: rgba(0, 0, 0, 0.7); */
    /* background: rgba(227, 227, 227, 0.4); */
    background: rgba(227, 227, 227, 0.4);
    color: #fff;
    margin-top: 80px;
    margin-bottom: 90px;
    padding: 10px 50px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .register_container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:20px;
  }
  .register_container .center_column_register .register_content{
    /* background: rgba(0, 0, 0, 0.7); */
    /* background: rgba(227, 227, 227, 0.4); */
    background: rgba(227, 227, 227, 0.4);
    color: #fff;
    margin-top: 80px;
    margin-bottom: 90px;
    padding: 10px 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .register_container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:20px;
  }
  .register_container .center_column_register .register_content{
    /* background: rgba(0, 0, 0, 0.7); */
    /* background: rgba(227, 227, 227, 0.4); */
    background: rgba(227, 227, 227, 0.4);
    color: #fff;
    margin-top: 80px;
    margin-bottom: 90px;
    padding: 10px 90px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .register_container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:110px;
  }
  .register_container .center_column_register .register_content{
    /* background: rgba(0, 0, 0, 0.7); */
    background: rgba(227, 227, 227, 0.4);
    color: #fff;
    margin-top: 80px;
    margin-bottom: 90px;
    padding: 10px 90px;
  }
}
